<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lcwu.fyp.obdcardiagnosticpro">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DiagnosticTroubleCodes"
            android:label="Trouble Codes"
            android:parentActivityName=".Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        <activity
            android:name=".AllSensors"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".LiveData"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".MainDashboard"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".TestActivity"
            android:parentActivityName=".Dashboard" />
    </application>

</manifest>